/* VERSION 6 STYLING w/ BOOTSTRAP */
body {
	padding-top: 70px; 
	background: -webkit-linear-gradient(white, black); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, black); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, black); /* For Firefox 3.6 to 15 */
	background: linear-gradient(white, black); /* Standard syntax */
	background-repeat: no-repeat;
	height: 1000px;
}
filter {
	width: 80px;
}
.body {
	color: #ddd;
}
table {
	width: 100%;
}
.song-list-header > h1,button{
	display: inline-block;
	margin: 0;
	padding: 10px;
	vertical-align: middle;
}