/* Version 3

Using your new CSS skills, you'll build even better looking music history pages.

X 1. Use the Flexible Layout Box model to ensure that both the form section and the 
   content section are the same height.
X 2. The entire container for the even songs (plus its details) should have a background 
   color of Sea Shell (SeaShell or #FFF5EE)
X 3. The entire container for the odd songs (plus its details) should have a background color of Mint Cream (MintCream or #F5FFFA)
X 4. The first song container should have bold text.
X 	5. Set the navigation bar's position so that it's always on the top of the page, even 
   if you scroll down. To ensure this works, you can just add some div tags at the bottom 
   of the page that add enough text that would force you to scroll the browser.
*/

/* Navbigation styling */
.navigation {
	position: fixed;
	width: 99.3%;
	top: 0;
	left: .3em;
}
.invisible {
	position: static;
	visibility: hidden;
}
.navbar {
	background-color: #ffb4b0;
	margin: 0 .5em;
	padding: 1em;
	border: 2px solid black;
	font-family: arial, sans-serif;
}
nav > p {
	display: inline;
	margin: 0 1em;
}
/* Sidebar styling */
.sidebar {
	background-color: #4dd7fa;
}
.sidebar > form > input[type="range"],
.sidebar > form > select {
	width: 100%;
}
.checkboxes {
	display: flex;
}
.checkboxes-left {
	display: flex;
	flex-direction: column;
}
.checkboxes-right {
	display: flex;
	flex-direction: column;
}

/* Body content styling */
.body-content {
	font-family: arial, sans-serif;
	display: flex;
	flex-wrap: wrap;
}
.song-list {
	background-color: #fefac0;
	color: #785616;
	flex-grow: 4;
}

/* apply bold to first song */
#playlist p:first-child {
	font-weight: bolder;
}

/* Color even songs Seashell */
#playlist p:nth-child(2n+0) {
	background-color: #FFF5EE;
	padding: .5em;
	margin: 0;
}

/* Color odd songs mint cream */
#playlist p:nth-child(2n+1) {
	background-color: #F5FFFA;
	padding: .5em;
	margin: 0;
}

/* styleistic classes */
.bordered {
	border: 2px solid black;
	margin: .3em;
	padding: 1em;
}

.space {
	height: 1000px;
}