/* Navbigation styling */
.navbar {
	background-color: #ffb4b0;
	font-family: arial, sans-serif;
}
nav > p {
	display: inline;
	margin: 0 1em;
}

/* Sidebar styling */
.sidebar {
	background-color: #4dd7fa;

}
.sidebar > form > input[type="range"],
.sidebar > form > select {
	width: 100%;
}
.checkboxes {
	display: flex;
}
.checkboxes-left {
	display: flex;
	flex-direction: column;
}
.checkboxes-right {
	display: flex;
	flex-direction: column;
}

/* Body content styling */
.body-content {
	font-family: arial, sans-serif;
	display: flex;
	flex-wrap: wrap;
}
.song-list {
	background-color: #fefac0;
	color: #785616;
	flex-grow: 4;
}

/* styleistic classes */
.bordered {
	border: 2px solid black;
	margin: .3em;
	padding: 1em;
}
